body { font: 12px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 0.5;
    fill: none;
}

.triangle-link { 
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.dot-unknown {
	fill: none;
	stroke: red;
	stroke-width: 2;
}

.notifier {
    float: right;
    margin-right: 250px;
    margin-top: 250px;
}

.graph-svg {
    padding-left: 30px;
}
